.aneContainer {
  position: relative;
  margin-top: 35px;
  .bonnetAne{
    width: 60px;
    position: absolute;
    top: -30px;
    left: 15px;
    transform: rotate(32deg);
  }
}
.description {
  margin-bottom: 35px;
}