.wrapper {
  position: relative;
}
.map {
  width: 100%;
}
.subMap {
  position: absolute;
  border-radius: 50%;
  height: 8%;
  width: 8%;
  border-color: #550A21;
  border-width: 5px;
  border-style: solid;
  transform: translate(-50%, -50%);
  animation: bump 1s;
  cursor: zoom-in;
}

.pointOfInterest{
  position: absolute;
}

.zommOut {
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  cursor: zoom-out;
}

@keyframes bump {
  0% { transform: translate(-50%, -50%) scale(0) }
  70% { transform: translate(-50%, -50%) scale(0) }
  80% { transform: translate(-50%, -50%) scale(1.5) }
  100% { transform: translate(-50%, -50%) scale(1) }
}