// Override default variables before the import

@font-face {
  font-family: jeff-script;
  src: url('./jeff-script-regular.otf');
}

@font-face {
  font-family: politica-bold;
  src: url('./politica-bold.ttf');
}

$primary: #550A21;
$second: #0a2155;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  // font-family: jeff-scripts;
  // font-family: politica-bold;
  background-image: url('/assets/background.jpg');
  background-size: 100%;
  font-weight: bold;
  //background-color: #c3af87
}