.highway {
  transform: translateX(-50%) translateY(-50%);
  font-size: 80%;
  padding: 0.1em 0.6em;
  background-color: #4d8d2f;
  color: white
}
.village {
  text-align: center;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
}
.direction {
  position: relative;
  font-weight: bold;
  white-space: nowrap;
  transform: translateX(-50%) translateY(-50%);
  .directionRight {
    &::after {
      content: ' ⟹';
      font-weight: bolder;
    }
  }
  .directionLeft {
    &::before{
      content: '⟸ ';
      font-weight: bolder;
    }
  }
  .directionUp {
    &::before{
      content: '⇑';
      font-weight: bolder;
      position: absolute;
      left: 50%;
      top: -0.5em;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
.parking {
  font-weight: bold;
  background-color: #0A4CA3;
  color: white;
  padding: 4px;
  border: 2px solid white;
  border-radius: 3px;
}
.destination {
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  color: #550A21;
  animation: bump 1s;
}

@keyframes bump {
  0% { transform: translate(-50%, -50%) scale(0) }
  70% { transform: translate(-50%, -50%) scale(0) }
  80% { transform: translate(-50%, -50%) scale(1.5) }
  100% { transform: translate(-50%, -50%) scale(1) }
}