.response{
  margin-top: 10px;
  &.titi {
    text-align: right;
    .message {
      background-color: azure;
      border-radius: 15px 0px 15px 15px;
    }
    .avatar {
      float: right;
      margin-left: 10px;
    }
  }
  &.leon {
    text-align: left;
    .message {
      background-color: #0a2155;
      color: white;
      border-radius: 0px 15px 15px 15px;
    }
    .avatar {
      float: left;
      margin-right: 10px;
    }
  }
  .emotion {
    font-size: 0.65em;
    padding-left: 10px;
  }
  .message {
    padding: 10px;
  }
  .avatar {
    width: 60px;
    border-radius: 50%;
  }
}